body {
    position: relative;
}
a {
    color: black;
}

.nav-bar {
    position: relative;
}

.nav-bar a {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.site-title {
    position: absolute;
    left: 0;
    margin-left: 2rem;
    margin-top: 0;
    font-size: 3rem;
    font-weight: bolder;
}

.main-section {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    margin-top: 2rem;
}


.notification{
    z-index:999;
    background-color: white;
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    border: 2px solid green;
    padding: 1rem;
    width:fit-content;
    border-radius: .5rem;
    margin-top:1rem;
    display: flex;
    flex-direction: row;
    gap:1rem;
    opacity: 0;
    transition: 0.4s;
    font-weight: 600;
}

.notification img {
    width:2rem;
    margin-top: -.4rem;
}

.notification.show{
    opacity: 1;
}

.title  {
   font-size: clamp(2rem, 8vw, 4rem);
   font-weight: bolder;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.feedback{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    width:100%;
    padding-bottom:2rem;

}

.feedback form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width:90%;
}

.feedback textarea{
    border-radius:  0.5em;
}

textarea{
    min-width:20rem;
    max-width:90%;
}


.input {
    width: 14rem;
    margin:0;
    align-self:flex-start;
    height: 3rem;
    padding: 0 .5rem;
    border-radius: .5em;
    margin-top: 4rem;
    border: 1px solid black;
    outline: none;
}

.input::placeholder {
    font-size: .8rem;
}

.input, p {
    margin :0;
}

.feedback-btn {
  width: fit-content;
  min-width: 6.25rem;
  height: 2.8rem;
  padding: 0.5rem;
  border-radius: .3rem;
  border: transparent;
  cursor: pointer;
  background-color: rgb(214, 210, 210);
  transition: .2s;
  font-weight: bold;
  font-size:1rem;
  color:black;
  margin-top:1rem;
}

.feedback-btn:hover {
  background-color: #a8a8a8;
  box-shadow: 0px 0px 20px -18px;
}

.hidden{
    display: none;
}
