html {
    font-size: clamp(16px, .8vw, 500px);
}
body {
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
    color:white;
    font-weight: 300;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 1.5rem;
 
}

.nav-bar a:last-child {
  border-right: none;
  padding-right:8rem;
}

.nav-bar a {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2rem;
}

.nav-bar a:hover{
    color: rgb(176, 173, 173);
    cursor: pointer;
}


/* used in main section and explore more page */

.fact-item {
    margin-top:2rem;
    background-color: white;
    border-radius: .2rem;
    cursor: pointer;
    width:10rem;
    height:5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .2s;
}

.fact-item:hover{
    background-color: rgb(176, 173, 173);
}


/* used in second section in main and explore more page*/

.content {
    flex:1;
    display: flex;
    flex-direction: row;

}

.content-left{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.topic-desc{
    text-align: center;
    max-width:30rem;
    font-weight: 400;  
}


.content-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5rem;
}


.topic-title{
    color:black;
    text-align: center;
    font-size: 2rem;
}

.card {
    width:25rem;
    max-width:100%;
    padding-bottom:10rem;
}

.card img {
    width:25rem;
    height: 25rem;
    border-radius: 1rem;
    box-shadow: 0 0 8rem rgba(0, 0, 0, 1),
                0 3rem 6rem rgba(0, 0, 0, 0.9);

    transition: 0.2s;          
}

.card img:hover{
    transform: scale(1.05);
}


.img-btn-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-arrow,
.right-arrow {
    position: absolute;
    width: auto;
    background-color: transparent; 
    border:transparent;
    cursor: pointer;
}

.left-arrow {
    left: -4rem;
}

.right-arrow {
    right: -4rem;
}

.left-arrow img, .right-arrow img { 
    width:1.5rem; 
    height:auto;
}

.facts{
    display: flex;
    gap:2rem;
    color:black;
    flex-direction: row;
}


/* footer in both pages*/

.footer-section{
    background-color: #0B0B0F;
}

body{
    margin:0;
}

.footer {
  background: #0B0B0F;
  color: #BFBFBF;
  padding: 4rem 5rem;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  margin: 0 auto;
}


.footer h4 {
  color: #FFFFFF;
  font-size: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.footer p {
  font-size: 0.9rem;
}

.footer-left,
.footer-right {
  max-width: 30rem;
}

#toggle-about {
  margin-top: 1rem;
  background: none;
  border: none;
  color: #FF9F1C;
  cursor: pointer;
  font-size: 0.85rem;
  padding: 0;
}

#toggle-about:hover {
  text-decoration: underline;
}


.collapsed .more {
  display: none;
}


.hidden {
    display: none;
}
