body {
    margin: 0;
    color: white;
    background-color: black;
    min-height: 100%;
}

button {
    color: white;
}

img {
    user-select: none;
    max-width: 100%;
    height: auto;
}

/* first page (section) */

.main-section {
    width: 100%;
    display: flex;
    min-height: 100vh;
}

/* left section */

.left-section {
    width: clamp(12rem, 18vw, 20rem);
}

.planet-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


/* planet btns */

.planet-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    opacity: .6;
    cursor: pointer;
    transition: .3s;
}

.planet-btn:hover {
    transform: scale(1.1);
    opacity: 1;
}

.planet-btn img {
    width: 6rem;
}

#saturn img {
    width: 8rem;
}

.planet-item {
    position: relative;
}

.planet-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .8rem;
}


/* right section */

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}


/* planet panel  */

.planet-panel {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    width: 100%;
    overflow: hidden;
    height: 100%;
}


/* planet desc etc */

.planet-content {
    flex: 1;
    height: 100%;
    min-width: 0;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.planet-title {
    font-size: clamp(4rem, 8vw, 8rem);
    font-weight: 700;
}

.planet-desc {
    max-width: 100%;
    height: auto;
}



/* planet img */
.background-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    height: 100%;
    flex: 1;
}

.background-image img {
    width: clamp(18rem, 35vw, 40rem);
}


.audio-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: auto;
}

.audio-btn {
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: .5rem;
    padding: .3rem;
}

.audio-btn img {
    width: 2rem;
}

.audio-desc {
    opacity: .5;
    margin: 0;
}


/* fact text */

.fact-text {
    background-color: white;
    color: black;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    margin-top: 1rem;
    max-width: 100%;
    margin-bottom: 2rem;

}

/* second page (section) */

.second-section {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: black;
}

.second-section-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header-text {
    margin-top: 2rem;
    font-size: clamp(4rem, 8vw, 8rem);
    font-weight: 700;
    color: black;
    margin-bottom: 0;
}


.learn-more-btn {
    border: 2px solid red;
    border-radius: .2rem;
    height: 3rem;
    width: 10rem;
    color: black;
    cursor: pointer;
    transition: .2s;
    margin-top: 3rem;
    font-weight: 700;
}

.learn-more-btn:hover {
    background-color: rgb(235, 208, 208);
    transform: translateY(-1.5px);
}



.hidden {
    display: none;
}