.root {
    -fx-background-color: #F3F4F4;
    -fx-text-fill: black;
}

.containerBackground {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.05), 10, 0.3, 0, 3);
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


.scroll-pane > .viewport {
    -fx-background-color: transparent;
}


.scroll-pane .content {
    -fx-background-color: transparent;
}


.scroll-pane {
    -fx-padding: 0;
}

.button {
    -fx-font-weight: bold;
}


.scroll-bar:vertical {
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-opacity: 0;
}


.scroll-bar:horizontal {
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-opacity: 0;
}

.scroll-pane {
    -fx-fit-to-width: true;
}


.sideBar {
    -fx-background-color: #161D25;
    -fx-background-radius: 6;
}

.sideBarRow:hover {
    -fx-background-color: #FED22B;
    -fx-cursor: hand;
    -fx-background-radius: 6;
}

.delete-logout-btn {
    -fx-background-color: #DC2626;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 6 16 6 16;
    -fx-cursor: hand;
}

.delete-logout-btn:hover {
    -fx-background-color: #B91C1C;
}


.delete-logout-btn:pressed {
    -fx-background-color: #991B1B;
}

.delete-logout-btn:focused {
    -fx-effect: none;
}
